<div class="header">
    <div class="taps-container">
        <div class="logo">
            <img src="assets/images/temp_logo.jpg" alt="Logo">
        </div>
        <div class="menus">
            <p-menubar 
            [model]="items" 
            [autoDisplay]=true>
            </p-menubar>
        </div>
        <!-- <div class="buttons">
            <button pButton type="button" class="p-button-sm p-button-raised">Login</button>
            <button pButton type="button" class="p-button p-button-raised">트라이얼신청</button>
        </div> -->
        <nav class="buttons">
            <a class="button" routerLink="/login">LOGIN</a> |
        </nav>
    </div>
</div>
