body,
html,
.p-component {
  font-family: "Poor Story", cursive;
}

.p-menubar {
  background: transparent;
  border: 0;

  .p-menubar-root-list {
    .p-menuitem {
      .p-menuitem-link {
        width: auto;
        text-align: center;

        .p-submenu-icon::before {
          content: "";
        }
      }

      .p-menuitem-link:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: inset 0 0 0 0;
      }

      .p-submenu-list {
        border-radius: 10px;
      }
    }
  }
}

.p-button {
  background: plum;
  border: 0;

  .p-button-sm {
    width: 72px;
    height: 46px;
  }

  .p-button-lg {
    width: 72px; // TODO: fix value for width
    height: 46px; // TODO: fix value for height
  }

  &:enabled:hover {
    background: powderblue;
  }
}
